name: Android Release

on: workflow_dispatch

env:
  ANDROID_SDK_ROOT: /usr/android-sdk
  
jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: iso188/android-sdk:api-31
    steps:
    - uses: actions/checkout@v3
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assembleDebug
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: apk
        path: app/build/outputs/apk/

